main {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 100px; /* Espacio para separarse del nav fijo */
    z-index: 1;
}

.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.hero h1, h2 {
    color: #2470fd;

}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

footer {
    background: black;
    color: white;
    padding: 20px 5%;
    width: 100%;
    margin-top: auto; /* Lo empuja al final */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre elementos */
    align-items: center;
    flex-wrap: wrap; /* Para responsive */
    gap: 15px;
}

/* Logo a la izquierda */
.footer-logo {
    font-size: 1.5em;
    font-weight: 600;
}

/* Contenido central (redes + enlaces) */
.footer-middle {
    display: flex;
    align-items: center;
    gap: 30px; /* Espacio entre redes y enlaces */
}

/* Redes sociales */
.footer-social {
    display: flex;
    gap: 15px;
}

/* Enlaces */
.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

    .footer-links a:hover {
        color: #ccc;
        text-decoration: underline;
    }

/* Copyright a la derecha */
.footer-copyright p {
    font-size: 0.9em;
    opacity: 0.8;
}

/* Iconos (Ionicons) */
.footer-social a {
    color: white;
    font-size: 1.5em;
    transition: color 0.3s;
}

    .footer-social a:hover {
        color: #ccc;
    }
