main {
    margin-top: 80px;
    margin-left: 35px;
    margin-right: 35px;
    z-index: 1;
}

.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    margin-left: 35px;
    margin-right: 35px;
}
.hero h1,h2{
    color: #2470fd;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}






