/* Content/Css/favoritos.css */

.favorites-main {
    background-color: var(--body-color);
    min-height: 100vh;
    padding: 2rem;
    margin-left: 250px;
    transition: background-color 0.3s ease, margin-left 0.3s ease;
}

.siderbar.close ~ .favorites-main {
    margin-left: 88px;
}



