
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Css/Style.css">
    <title>NaceTuIdea</title>
</head>
<body>
    <header>
        <h2 class="logo">NaceTuIdea:)</h2>
        <nav class="navegacion">
            <a href="#">Inicio</a>
            <a href="#">Acerca De</a>
            <a href="#">Contactanos</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Recuerdame</label>
                    <a href="#">Olvido su Contraseña?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>No tiene una Cuenta?<a href="#" class="register-link"> Registrate</a></p>
                </div>
            </form>
        </div>
        <div class="form-box register">
            <h2>Registrate</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" required>
                    <label>Nombre</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="call"></ion-icon></span>
                    <input type="text" required>
                    <label>Telefon</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Acepta Terminos y Condiciones</label>
                </div>
                <button type="submit" class="btn">Registrarse</button>
                <div class="register-login">
                    <p> Ya tiene una cuenta?<a href="#" class="login-link"> Ingresa</a></p>
                </div>
            </form>
        </div>

    </div>

    <script src="~/Content/Js/Script.js"></script>
    <script src="~/Content/Js/acces.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
